.parallax {
  &--container {
    position: relative;
    overflow: hidden;
  }

  &--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0s linear;

    img {
      max-width:100%;
      height: auto;
    }
  }

  &--foreground {
    position: absolute;
    width: 100%;
  }
}
