// Variables
$color-white: #ffffff;
$color-black: #000000;
$color-blue: rgba(7, 24, 42, 1);
$color-blue-semitransparent: rgba(7, 24, 42, 0.7);

$color-light-grey: #e1dedc;
$color-dark-grey: #35383C;
$color-very-dark-grey: #282B2E;

$page-width: 1200px;
$header-height: 70px;
